---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="bg-[url(/atencionIMG/teclado.webp)] bg-no-repeat bg-cover h-[26rem]">
        <div class="w-[30rem] py-10 ml-[1/4] pl-32">
            <div class="bg-sky-600 text-white flex flex-col px-10">
                <div class="my-10">
                    <h1 class="py-4 text-3xl pb-8">¿Necesitas ayuda?</h1>
                    <p>Agenda tus horas médicas, consulta los resultados de tus exámenes de laboratorio, realiza pagos de hospitalización, explora nuestras unidades de atención y accede a muchos otros servicios.</p>
                </div>
            </div>
        </div>
    </div>
</Layout>