---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const unidades = await getCollection('unidades')
---

<Layout>
    <div class="lg:flex lg:justify-center text-white">

  
        <div class="h-full w-full relative inline-block
                    lg:w-[80%] lg:flex ">
            <img
            src="/atencionIMG/teclado.webp"
            alt="imagen del banner"
            class="w-full object-cover
                    sm:w-full"
            />

            <div
            class="bg-blue-300
                            sm:absolute sm:top-[25%] sm:bg-blue-300/75 sm:h-fit
                            lg:w-[32rem] lg:ml-5"
            >
            <h1 class="text-3xl pl-4 py-3 font-bold
                            sm:text-4xl">
                ¿Necesitas ayuda?
            </h1>

            <p class="px-4 font-bold pb-7
                        sm:text-[1.2rem]">
                Agenda tus horas médicas, consulta los resultados de tus exámenes de
                laboratorio, realiza pagos de hospitalización, explora nuestras unidades
                de atención y accede a muchos otros servicios.
            </p>
            </div>
        </div>
    </div>



    <div class="w-full pt-3 bg-[#dedddf] last:pb-6 flex flex-col items-center">
        <div class="grid grid-cols-1 w-[80%] items-center
                    lg:grid-cols-2 lg:gap-5">

                <div class="pt-4">
                    <div class="bg-white rounded">
                        <div class="border-b-[1px]">
                            <h4 class="py-4 font-bold text-xl ml-[4%]">Consultas</h4>
                        </div>
                        <div class="ml-[4%] mt-3 pb-8 min-h-52 max-h-fit ">
                            <ul class="list-disc list-inside">
                                <li><a href="/atencion/reserva">Reservar una hora</a></li>
                                <li><a href="/atencion/anular">Anular una hora</a></li>
                                <li><a href="/atencion/consulta">Ver información de una consulta</a></li>
                            </ul>
                        </div>
                    </div>
                </div>


            <div class="pt-4">
                <div class="bg-white rounded">
                    <div class="border-b-[1px]">
                        <h4 class="py-4 font-bold text-xl ml-[4%]">Exámenes de diagnóstico</h4>
                    </div>
                    <div class="ml-[4%] mt-3 pb-8 min-h-52 max-h-fit ">
                        <ul class="list-disc list-inside">
                            <li><a href="#">Laboratorio</a></li>
                            <li><a href="#">Radiología e imágenes</a></li>
                            <li><a href="#">Informacion sobre exámenes</a></li>
                            <li><a href="#">Resultado de exámenes</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="grid grid-cols-1 w-[80%] items-center
                    lg:grid-cols-2 lg:gap-5">

            <div class="pt-4">
                <div class="bg-white rounded">
                    <div class="border-b-[1px]">
                        <h4 class="py-4 font-bold text-xl ml-[4%]">Unidades de cuidados</h4>
                    </div>
                    <div class="ml-[4%] mt-3 pb-8 min-h-52 max-h-fit ">
                        <ul class="list-disc list-inside">
                            {
                                unidades.map(unidad => {
                                    const {slug, data} = unidad
                                    const { title, descripcion } = data

                                    return (
                                        <li><a href={`/unidad/${slug}`}>{title}</a></li>
                                    )
                                })
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>



</Layout>
