---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="text-center py-4">
        <h1 class="font-extrabold text-6xl">reserva de hora</h1>
    </div>
    
    <div class=" my-10 flex justify-center text-white">
        
        <div class="w-[90%] border-2 bg-blue-500">
            <div class="flex space-x-3 font-bold justify-end mr-5 my-4">
                <p class="py-1 px-3 bg-[#2bff00] border-2 rounded-full ">1</p>
                <p class="py-1 px-3 bg-transparent border-2 rounded-full ">2</p>
                <p class="py-1 px-3 bg-transparent border-2 rounded-full ">3</p>
            </div>

            <form action="" class="first:pt-6 last:pb-6">
                <div class="px-[5%]">
                    <label for="medica" class="w-full">
                        Por área médica
                    </label>
                    <input type="radio" id="medica" value="Por área médica" name="opcion" class="hidden peer/medica" checked>

                    <label for="medico" class="w-full ">
                        Por médico / Profesional
                    </label>
                    <input type="radio" id="medico" value="Por área profesional" name="opcion" class="hidden peer/profesional">


                    <div class="hidden peer-checked/medica:block">
                        <div class="py-4">
                            <h2>Centro de atención</h2>
                            <p>Falta mostrar todos los centros de atencion</p>
                            <select name="" id="">
                                <option value="">Cardiologia</option>
                            </select>
                        </div>
                    </div>
                </div>
                    

                <input type="submit" value="enviar">
            </form>
        </div>
    </div>

</Layout>