---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <div class="text-center py-4">
        <h1 class="font-extrabold text-6xl">reserva de hora</h1>
    </div>
    
    
    <div class="flex justify-center">
        <div class="w-[90%] bg-[#045394] text-white rounded">
            <form action="" class="">
                <div>
                    <div class="">
                        <div class="bg-[#003b6b]">
                            <div class="py-3 underline pl-[4%]">
                                <label for="areaMedica" class="font-extrabold">Por área médica</label>
                            </div>
                        </div>
                        <input type="radio" id="areaMedica" name="busqueda" class="hidden peer/areaMedica" checked>
                        
                        <div class="hidden peer-checked/areaMedica:block">
                            
                            <div class="pl-[4%] border-b-[1px]">
                                <div class="py-2">
                                    <p>Centro de atención:</p>
                                </div>

                                <div class="pb-2">
                                    <input type="radio" id="centroAtencion" name="centroAtencion">
                                    <label for="centroAtencion">falta pasar centro de atención por db</label>
                                </div>
                            </div>
                            
                            <div class="py-4">
                                <select name="" id="">
                                    <option value="">Seleccione el área medica</option>
                                    <option value="">Por terminar Pasar áreas por db</option>
                                </select>
                            </div>

                            <div class="py-4">
                                <select name="" id="">
                                    <option value="">Seleccione el área medica especifica</option>
                                    <option value="">Por terminar Pasar áreas por db</option>
                                </select>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div>
                    <div>
                        <label for="porMedico">Por medico / profesional</label>
                        <input type="radio" id="porMedico" name="busqueda" class="hidden">
                    </div>
                </div>
            </form>
        </div>
    </div>
</Layout>