---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <img src="" alt="">

    <div class="text-center py-4">
        <h1 class="font-extrabold text-6xl">reserva de hora</h1>
    </div>

    <div class=" my-10 flex justify-center text-white">

        <div class="w-fit border-2 bg-blue-500">
            <form action="" class="flex flex-col first:pt-6 last:pb-6 px-20">
                <label for="rut" class="text-2xl">Ingrese RUT paciente</label>
                <input type="text" id="rut" class="my-2 border-b-2 border-white" placeholder="xx.xxx.xxx-x">
                <input type="submit" value="Siguiente" class="bg-[#02199e] text-white py-1">
            </form>
        </div>
            
    </div>
</Layout>