---
import Layout from "../../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
    const unidades = await getCollection("unidades");

    return unidades.map((unidad) => ({
        params: { id:unidad.slug },
        props: { unidad }
    }))
}

const { unidad } = Astro.props
const { data, slug } = unidad
const { title, descripcion } = data
const { Content } = await render(unidad)
---

<Layout title={`${title}`}>
    <div class="bg-[#00ccff] flex items-center">
        <div class="top-[50%] my-12 w-full">
            <h1 class="font-extrabold text-4xl pl-6 underline md:pl-[10%]">{title}</h1>
        </div>
    </div>

    <div class="grid place-items-center py-5">
        <div class="pb-4 font-extrabold text-2xl">
            {descripcion}
        </div>

        <div class="w-[80%] space-y-6">
            <Content>
        </div>
    </div>
</Layout>