---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contactanos">
    <div>
        <div class="text-center py-4">
            <h1 class="font-extrabold text-6xl">Contáctanos</h1>
        </div>
        <div>
            <form action="" class="bg-[#eee] text-center w-[25rem]">
                <label for="name">Nombre completo</label>
                <input type="text" id="name" class="border-2 rounded">

                <label for="mail">Correo</label>
                <input type="email" id="mail" class="border-2 rounded">

                <label for="content">Redacta tu mensaje</label>
                <textarea name="" id="content" class="border-2 rounded"></textarea>
            </form>
        </div>
    </div>
</Layout>