---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Especialidades">
    <div class="text-center py-4" style="background-image: url();">
        <h1 class="font-extrabold text-6xl">Especialidades</h1>
    </div>



    <div>
        <a href="#">Nombre de la especialidad (Por resolver)</a>
    </div>
</Layout>