---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Clinica pepe">
	<section class="relative overflow-hidden">
		<div class="mx-auto  2xl:max-w-7xl  w-full  max-w-screen px-8 relative py-32 overflow-hidden bg-accent-200 lg:py-64">
			<img src="med1.png" alt="medico 1" class="absolute hidden lg:block shadow-black size-84 bottom-32 -right-1">
			<img src="med2.png" alt="medico 2" class="absolute hidden lg:block shadow-black size-100 bottom-24 -left-1">
			<div class="relative max-w-xl mx-auto text-center">
				<h1 class="text-3xl  sm:text-3xl md:text-4xl lg:text-5xl font-medium text-black">
					Reserva tu próxima consulta médica hoy mismo
				</h1>
				<p class="text-base mt-4 text-black text-balance">
					No dejes tu salud para mañana. Agenda tu cita médica de manera rápida y segura. ¡Haz clic aquí para reservar tu consulta ahora!
				</p>
				<a href="#" class="flex font-semibold ease-in-out text-center items-center duration-500 border-2 rounded-lg transition-all justify-center focus:outline-none focus:translate-y-1 text-black bg-white shadow-black border-black hover:bg-accent-300 focus:bg-black focus:text-white focus:shadow-none h-14 px-8 py-4 text-lg shadow mx-auto mt-8 w-fit">Averigua más</a>
			</div>
		</div>
	</section>
</Layout>
