---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Clinica pepe">
	<section class="relative overflow-hidden">
		<div class="w-full max-w-screen px-8 relative py-32 overflow-hidden lg:py-64 border-b-4" style="background-image: url('index/fondo.png');">
			<img src="index/med2.png" alt="medico 1" class="absolute hidden lg:block shadow-black size-120 bottom-0 -right-1">
			<img src="index/med1.png" alt="medico 2" class="absolute hidden lg:block shadow-black size-120 bottom-0 -left-1">
			<div class="relative max-w-xl mx-auto text-center bg-[#fff] py-4 rounded-xl">
				<h1 class="text-3xl  sm:text-3xl md:text-4xl lg:text-5xl font-medium text-black">
					Reserva tu próxima consulta médica hoy mismo
				</h1>
				<p class="text-base mt-4 text-black text-balance">
					No dejes tu salud para mañana. Agenda tu cita médica de manera rápida y segura. ¡Haz clic aquí para reservar tu consulta ahora!
				</p>
				<a href="#" class="flex font-semibold ease-in-out text-center items-center duration-500 border-2 bg-[#4b7eeb] rounded-lg transition-all justify-center focus:outline-none focus:translate-y-1 text-black  shadow-black border-black hover:bg-[#8adaff] focus:text-white focus:shadow-none h-14 px-8 py-4 text-lg shadow mx-auto mt-8 w-fit hover:scale-110 scale-100">Averigua más</a>
			</div>
		</div>
	</section>
</Layout>
