---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre nosotros">
    <div class="text-center py-4">
        <h1 class="font-extrabold text-6xl">Sobre Nosotros</h1>
    </div>
    <div class="text-xl pt-5">
        <p class="py-5 text-center">
            Clínica Pepe nació con una visión clara: hacer que el acceso a la salud sea más humano, eficiente y cercano
            para todos. Fundada en 2010 por un grupo de médicos comprometidos con la calidad y la atención 
            personalizada, la clínica comenzó como un pequeño centro de atención familiar en el corazón de la 
            ciudad.
        </p>

        <p class="py-5 text-center">
            A lo largo de los años, gracias a la confianza de nuestros pacientes y la dedicación de nuestro equipo 
            médico, nos hemos transformado en una clínica moderna, equipada con tecnología de punta y un enfoque 
            centrado en el bienestar integral.
        </p>

        <p class="py-5 text-center">
            Hoy, en Clínica Pepe combinamos experiencia médica con innovación digital. Por eso desarrollamos esta 
            plataforma online, que permite a nuestros pacientes reservar horas, acceder a sus consultas y comunicarse 
            fácilmente con su médico tratante. Nuestro objetivo es brindarte una atención médica rápida, segura y 
            sin barreras.
        </p>

        <p class="py-5 text-center">
            Creemos firmemente que todos merecen una atención de calidad, y trabajamos día a día para ofrecer una 
            experiencia médica cálida, transparente y eficiente.
        </p>
    </div>
</Layout>