<header class="px-4 py-4 bg-blue-300 flex w-auto">
    <div>
        <img class="w-25 pl-5" src="/logo.png" alt="logo de la clinica">
    </div>
    <div class="w-full flex flex-row-reverse pr-10 items-center">
        <nav class="font-bold text-xl flex-row-reverse">
            <a class="px-5 py-1.5 m-2 bg-blue-500 rounded-full hover:bg-blue-600" href="/">Inicio</a>
            <a class="px-5 py-1.5 m-2 bg-blue-500 rounded-full hover:bg-blue-600" href="/aboutUs">Sobre nosotros</a>
            <a class="px-5 py-1.5 m-2 bg-blue-500 rounded-full hover:bg-blue-600" href="/contact">Contactanos</a>
        </nav>
    </div>
</header>