<header class="px-4 py-4 bg-blue-950">
    <nav class="font-bold">
        <a href="/">Inicio</a>
        <a href="/aboutUs">Sobre nosotros</a>
        <a href="/contact">Contactanos</a>
    </nav>
</header>