---
import HeaderButton from "./HeaderButton.astro";


---

<header class="px-4 py-4 bg-blue-300 flex w-auto">
    <div>
        <a href="/">
            <img class="w-25 pl-5" src="/logo.png" alt="logo de la clinica">
        </a>
    </div>
    <div class="w-full flex flex-row-reverse pr-10 items-center">
        <nav class="font-bold text-xl flex-row-reverse">
            <HeaderButton href="/" >Inicio</HeaderButton>
            <HeaderButton href="/nosotros">Sobre nosotros</HeaderButton>
            <HeaderButton href="/especialidades">Especialidades</HeaderButton>
        </nav>
    </div>
</header>